.libre-baskerville-regular {
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
html {
  background: #000;
}

img {
  border: 5px solid white;
  width: 100%;
}

div {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}

p {
  color: white;
  text-align: center;
}
