/* Don't change the existing CSS. */
#outer-box {
  background: purple;
  /* padding: 40px; */
}
.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background: purple;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
